/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Styling */
.App {
  font-family: 'Roboto', sans-serif;  /* Updated font */
  color: #333; /* Default text color */
  background-color: #fafafa; /* Light grey background for minimal feel */
  margin: 0;
  padding: 0;
  line-height: 1.6; /* For better readability */
}

/* Main Section Styling */
main {
  padding: 20px; /* Space around the content */
  margin-top: 20px; /* Space from top of the page */
}

h2 {
  text-align: center;
}