.partners {
    padding: 50px 20px;
    background-color: transparent;
    text-align: center;
    margin-top: 20px;
}

.partners h2 {
    margin-bottom: 1rem;
    text-align: center;
    color: #333;
    border-radius: 8px;
    padding: .5rem;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
    justify-items: center;
}

.partners-item {
    background-color: #e7e7e1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    width: 100%;
    max-width: 350px;
    cursor: pointer;
}

.partners-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    background-color: #eff1f3;
}

.partners-item h3 {
    font-size: 24px;
    color: #63dcbc;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}

.partners-item p {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}

.partners-item a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.partners-item a:hover {
    color: #73bda9;
}

section {
    scroll-margin-top: 80px;
}

@media (max-width: 768px) {
    .partners h2 {
        font-size: 28px;
    }

    .partners-item {
        padding: 15px;
    }

    .partners-item h3 {
        font-size: 20px;
    }

    .partners-item p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .partners h2 {
        font-size: 24px;
    }

    .partners-item {
        padding: 10px;
    }

    .partners-item h3 {
        font-size: 18px;
    }

    .partners-item p {
        font-size: 13px;
    }
}